/* === GENERAL === */
.container {
  margin: 0;
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      50% 50% at 100% 0,
      #A24225 0% 5%,
      #D3552E 6% 15%,
      #A24225 16% 25%,
      #D3552E 26% 35%,
      #A24225 36% 45%,
      #D3552E 46% 55%,
      #A24225 56% 65%,
      #D3552E 66% 75%,
      #A24225 76% 85%,
      #D3552E 86% 95%,
      #0000 96%
    ),
    radial-gradient(
      50% 50% at 0 100%,
      #A24225 0% 5%,
      #D3552E 6% 15%,
      #A24225 16% 25%,
      #D3552E 26% 35%,
      #A24225 36% 45%,
      #D3552E 46% 55%,
      #A24225 56% 65%,
      #D3552E 66% 75%,
      #A24225 76% 85%,
      #D3552E 86% 95%,
      #0000 96%
    ),
    radial-gradient(
      50% 50%,
      #A24225 0% 5%,
      #D3552E 6% 15%,
      #A24225 16% 25%,
      #D3552E 26% 35%,
      #A24225 36% 45%,
      #D3552E 46% 55%,
      #A24225 56% 65%,
      #D3552E 66% 75%,
      #A24225 76% 85%,
      #D3552E 86% 95%,
      #0000 96%
    ),
    radial-gradient(
        50% 50%,
        #A24225 0% 5%,
        #D3552E 6% 15%,
        #A24225 16% 25%,
        #D3552E 26% 35%,
        #A24225 36% 45%,
        #D3552E 46% 55%,
        #A24225 56% 65%,
        #D3552E 66% 75%,
        #A24225 76% 85%,
        #D3552E 86% 95%,
        #0000 96%
      )
      38px 38px;
  background-size: 76px 76px;
  background-color: #A24225;
}

/* === HERO === */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 90%;
  margin-top: 3rem;
  background-color: var(--color-bg-mid);
  padding: 2%;
  box-shadow: var(--shadow);
  position: relative;
  border: 3px solid black;
  min-height: 90vh;
  gap:3vh
}


/* === NAVBAR === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
  background-color: var(--color-bg-mid);
  border-radius: var(--radius);
  top: 1rem;
  margin-top: 0;
  gap: 5rem;
}

.navita {
  display: flex;
  flex-direction: row;
  gap: 7%;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.navbar .logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-text);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--color-accent);
}

#login-btn {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: transform 0.2s;
}

#login-btn:hover {
  transform: scale(1.05);
}


/* === FILTER BAR === */
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.filter-bar input,
.filter-bar select {
  padding: 0.5rem;
  border-radius: var(--radius);
  border: 1px solid #ccc;
  font-size: 0.9rem;
}

.filter-bar input {
  flex: 1;
}

/* === SECTION TITLE === */
.section-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: inline-block;
}

/* === RESTAURANT === */
.restaurants-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  box-sizing: content-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ceb06a8e;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 10px var(--shadow);
  transition: transform 0.3s ease;
  box-sizing: content-box;
  width: 22%;

} 

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-content h3 {
  margin: 0;
  color: var(--text-dark);
}

.card-content p {
  font-size: 0.9rem;
  color: #444;
  margin: 0.5rem 0 0.8rem;
}

.stars {
  color: gold;
  font-size: 1rem;
}
