/* === FONDO === */
.container {
  margin: 0;
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      50% 50% at 100% 0,
      #A24225 0% 5%,
      #D3552E 6% 15%,
      #A24225 16% 25%,
      #D3552E 26% 35%,
      #A24225 36% 45%,
      #D3552E 46% 55%,
      #A24225 56% 65%,
      #D3552E 66% 75%,
      #A24225 76% 85%,
      #D3552E 86% 95%,
      #0000 96%
    ),
    radial-gradient(
      50% 50% at 0 100%,
      #A24225 0% 5%,
      #D3552E 6% 15%,
      #A24225 16% 25%,
      #D3552E 26% 35%,
      #A24225 36% 45%,
      #D3552E 46% 55%,
      #A24225 56% 65%,
      #D3552E 66% 75%,
      #A24225 76% 85%,
      #D3552E 86% 95%,
      #0000 96%
    ),
    radial-gradient(
      50% 50%,
      #A24225 0% 5%,
      #D3552E 6% 15%,
      #A24225 16% 25%,
      #D3552E 26% 35%,
      #A24225 36% 45%,
      #D3552E 46% 55%,
      #A24225 56% 65%,
      #D3552E 66% 75%,
      #A24225 76% 85%,
      #D3552E 86% 95%,
      #0000 96%
    ),
    radial-gradient(
        50% 50%,
        #A24225 0% 5%,
        #D3552E 6% 15%,
        #A24225 16% 25%,
        #D3552E 26% 35%,
        #A24225 36% 45%,
        #D3552E 46% 55%,
        #A24225 56% 65%,
        #D3552E 66% 75%,
        #A24225 76% 85%,
        #D3552E 86% 95%,
        #0000 96%
      )
      38px 38px;
  background-size: 76px 76px;
  background-color: #A24225;
}


/* === NAVBAR === */
.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  background-color: var(--color-bg-mid);
  border-radius: var(--radius);
  top: 1rem;
  margin-top: 0;
}

.navbar .logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-text);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--color-accent);
}

 #register-btn{display: none;}

#login-btn {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: transform 0.2s;
}

#login-btn:hover, #register-btn:hover{
  transform: scale(1.05);
}

/* === HERO === */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 80vh;
  margin-top: 3rem;
  background-color: var(--color-bg-mid);
  padding: 2%;
  box-shadow: var(--shadow);
  position: relative;
  border: 3px solid black;
}

.hero-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 93%;
  width: 90%;
}

.hero-text {
  max-width: 70%;
}

.hero h1 {
  font-size: 6rem;
  margin: 0;
  color: var(--color-text);
}

.hero h2 {
  font-size: 1.8rem;
  margin: 0;
  color: var(--color-text);
}

.hero h2 span {
  font-weight: bold;
  color: var(--color-accent);
}

.hero p {
  margin-top: 1.2rem;
  color: var(--color-text);
  line-height: 1.6;
}



.hero-img img {
  display: flex;
  align-self: flex-end;
  width: 70%;
  height: auto;
}

.hero-img{display: flex;align-items: center;justify-content: center;}

/* === MODAL === */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* oculto por defecto */
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.login-modal,.register-modal {
  background-color: var(--color-bg-mid);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: var(--shadow);
  width: 350px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.login-modal h3, .register-modal h3 {
  margin-bottom: 1.5rem;
  color: var(--color-text);
}

.login-modal form, .register-modal  form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-modal input, .register-modal input {
  padding: 0.6rem;
  border: 1px solid #aaa;
  border-radius: var(--radius);
  font-family: var(--font-main);
}

.login-modal button, .register-modal button {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 0.7rem;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.login-modal button:hover, .register-modal button:hover {
  transform: scale(1.05);
}

.login-modal p, .register-modal  {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: var(--color-text);
}

.login-modal a, .register-modal  a {
  color: var(--color-accent);
  text-decoration: none;
}

.login-modal a:hover, .register-modal a:hover {
  text-decoration: underline;
}

.btn-vermas, .boton-dinamico {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: transform 0.2s;
  align-self: center;
  justify-self: center;
}

.btn-vermas:hover, .boton-dinamico {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}


/* === RESPONSIVE === */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    margin-top: 2rem;
  }

  .navbar {
    flex-direction: column;
    gap: 1rem;
  }
}

.navita { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}




@media (max-width: 900px) {


.navita{width: 100%;}

}